:root{/*Custom propertys*/
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --anchoPantalla: 1200px;
}

html{
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to top, #88b4dd 0%, white 100%);
    min-height: 100%;
    font-size: 1.6rem;
}

h1, h2, h3{
    margin: 0;
}

h2, h3{
    text-align: center;
}

.servicios h3{
    color: var(--secundario);
    font-weight: 400;
    font-size: 3rem;
}

.servicios p{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 1.8rem;
    line-height: 2;
}

.site-header{
    color: white;
    padding: 1rem;
}

.site-header nav{
    max-width:var(--anchoPantalla);
    margin: 0 auto;
    padding: 2rem, 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px){
    .site-header nav{
        flex-direction: row;
        justify-content: space-between;
    }
}

.site-header nav a{
    color: var(--oscuro);
    font-size: 2.2rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.site-header nav a:hover{
    color: var(--secundario);
    transition: ease 0.3s;
}

.site-header nav a:last-of-type{
    margin-bottom: 0;
}

@media (min-width:768px){
    .site-header nav a{
        margin-bottom: 0;
    }
}

#cv-button{
    border: 2px solid var(--secundario);
    border-radius: .5rem;
    background-color: var(--secundario);
    color: snow;
    padding: .5rem 2rem;
}

#cv-button:hover{
    color: var(--secundario);
    background-color: snow;
    border-color: var(--secundario);
    transition: ease-out 0.3s;
}

/** Hero**/
.hero{
    height: 45rem;
    background-image: url(../img/hero.jpg);
    background-position: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::after{
    content: '';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contenedor-hero{
    color: white;
    padding: 2rem;
    border-radius: 2rem;
    background-color: rgba(33, 33, 33, .5);
    position: relative;
    z-index: 1;
    text-align: center;
}

.contenedor-hero i{
    font-size: 5rem;
    color: var(--primario);
}

.boton{
    background-color: var(--secundario);
    padding: 1rem 5rem;
    display: inline-block;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
    border: none;
}

.boton:hover{
    cursor: pointer;
}

.contenedor{
    max-width: var(--anchoPantalla);
    margin: 3rem auto;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}

.contenedor-servicios{
    margin-top: 3rem;
}

@media (min-width:768px){
    .contenedor-servicios{
        display: flex;
    }

    .servicios{
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.servicio{
    display: flex;
    flex: 0 0 calc(33.3% - 2rem);
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.iconos{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.iconos{
    font-size: 3rem;
}

/* PROJECT BOX */

.project--container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.project--container:hover .project__item:hover {
    transform: scale(1.1);
    opacity: 1;
}

.project__item{
    width: 40rem;
    height: 30rem;
    border-radius: 2rem;
    overflow: hidden;
    display: inline-block;
    transition: 450ms all;
    transform-origin: center;
    position: relative;
    margin: 2rem 1rem;
}

@media screen and (max-width: 839px){
    .project__item{
        height: 35rem;
        width: 85vw;
    }
}

@media screen and (max-width: 426px){
    .project__item{
        height: 40rem;
    }
}

.project__box{
    width: 100%;
    height: inherit;
}

.project__img{
    object-fit: cover;
}

.project__info{
    width: inherit;
    height: inherit;
    opacity: 0;
    transition: 450ms opacity;
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: snow;
    border: 0.3rem solid var(--oscuro);
    border-radius: 2rem;
}

.project__info:hover{
    opacity: 0.9;
}

@media screen and (max-width:768px){
    .project__info{
        opacity: 0.9;
    }
}

.project__info h3{
    font-size: 2.2rem;
    text-align: center;
    margin: 1rem;
    text-decoration: underline;
}

.project__info p{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin: 1rem;
}


.project__button{
    display: flex;
    justify-content: space-around;
}

.project__button a{
    width: 15rem;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    align-items: center;
    color: var(--oscuro);
    text-decoration: none;
    background-color: snow;
    border: 0.2rem solid var(--secundario);
    border-radius: 1rem;
}

.project__button a:hover {
    color: snow;
    background-color: var(--secundario);
    border: 0.2rem solid snow;
    transition: ease-out 0.3s;
}

/**Formulario**/
form{
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}

form legend{
    text-align: center;
    font-size: 2rem;
    color: var(--primario);
    margin: 3rem 0;
}

@media (min-width:738px){
    form{
        max-width: 800px;
        margin: 3rem auto;
    }

    .contenedor-campos{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .campo{
        flex: 0 0 calc(50% - 1rem);
    }
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.campo label{
    flex: 0 0 90px;
    padding-top: .5rem;
    color: white;
}

.campo input{
    flex: 1;
    height: 4rem;
}

.campo textarea{
    flex: 1;
    height: 6rem;
}

.w-100{
    flex: 0 0 100%;
}

.enviar{
    display: flex;
    justify-content: flex-end;
}

/* REDES    */
.network-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-net{
    border-radius: 2rem;
    margin: 2rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--primario);
    color: var(--oscuro);
}

.card-net p{
    margin: 2rem;
    text-align: center;
}

.card-net p i{
    color: var(--secundario);
}

.card-net i{
    color: var(--oscuro);
}

@media (max-width:648px){
    .card-net{
        margin: 2rem auto;
    }
}

/* UTILITIES    */
img{
    width: 100%;
}